global
    maxconn 256
    tune.bufsize 4096

defaults
    mode tcp
    timeout connect 1s
    timeout client  30s
    timeout server  30s

frontend http
    bind :9999
    maxconn 256
    default_backend apis

backend apis
    balance roundrobin
    server api1 unix@/sockets/api1.sock maxconn 128
    server api2 unix@/sockets/api2.sock maxconn 128
